// @import "*";

@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';

html {
    position: relative;
    min-height: 100%;
}

body{
  background-color: #F5F3EE;
  opacity: 0.9;
  height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
    font: #4A96AD;
    text-shadow: 1px 1px 1px #ccc;

}
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

.nav {
    background-color: #CFDBC5;
    background-size: cover;
    box-shadow: 1px 1px 1px #aaa;
    border-radius: 1px
}

.profile {
  background-color: #F5F3EE;
  box-shadow: 1px 1px 1px #aaa;
  padding: 10px;
  border-radius: 5px
}

.whole {
  background-color: #FFFFFF;
}

.logo{
  position: absolute;
  top: 10px;
  left: 45%;
}

.buttons {
  box-shadow: 1px 1px 1px #aaa;
  border-radius: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px
}

.pull-right {
  float: right;
}
