// @import "*";

@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';

html {
    position: relative;
    height: 100%;
}

body{
  opacity: 0.9;
  height: 100%;
  margin-bottom: 60px;
  background-color: #e5e5f2;
  margin-left: 5px;
  margin-right: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato';
    font: #4A96AD;
    text-shadow: 1px 1px 1px #ccc;
}
p, div {
    font-family: 'Lato';
}

.nav {
    box-shadow: 1px 1px 1px #aaa;
    border-radius: 1px;
    margin-top: 10px;
}

.profile {
  background-color: #F5F3EE;
  box-shadow: 1px 1px 1px #aaa;
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
}

.back_color {
  background-color: #FFFFFF;
}

.logo{
  position: absolute;
  top: 10px;
  left: 45%;
}

img {
  max-width:172.5;
  max-height:71.25px
}

.buttons {
  border-radius: 5px;
  margin: 3px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-top: 60px;
  background-color: #999999;
  clear: both;
  margin-bottom: 0px;
  padding-top: 10px;
}

#content {
  min-height: 100%;
  height: auto;
  position: relative;

}

#logger {
  font-size: 20px;
}

.charts {
  display: flex;
}
